<!-- <div>
    <input type="button" value="להוספת מקצועות" [routerLink]="['/teachersettings/addSubject']">
  </div>
  <div>
    <input type="button" value="להוספת נושאי לימוד" [routerLink]="['/teachersettings/addSubTheme']">
  </div>
  <div>
    <input type="button" value="להוספת קבוצת תלמידים" [routerLink]="['/teachersettings/addGroup']">
  </div>
  <div>
    <input type="button" value="להוספת שאלות" [routerLink]="['/teachersettings/addQuestion']">
  </div>
  <div>
    <input type="button" value="להוספת תלמיד לכיתה קיימת" [routerLink]="['/teachersettings/addPupils']">
  </div>
  <div>
    <input type="button" value="ליצירת מבחן" [routerLink]="['/teachersettings/createTest']">
  </div> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">MarkATest</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/teachersettings']" class="">Home</a></li>
            <li class=" dropdown"><a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Students<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class=" dropdown">
                  <a [routerLink]="['/teachersettings/viewClasses']" class="dropdown-toggle " data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">View Classes</a>
                </li>
                <li><a [routerLink]="['/teachersettings/addGroup']">Add Class</a></li>
                <!-- <li><a [routerLink]="['/teachersettings/addPupils']">Add pupils</a></li> -->

              </ul>
            </li>
            <!-- <li><a href="addnew.html">Add New</a></li> -->
            <li class=" dropdown"><a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Subjects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a [routerLink]="['/teachersettings/viewSubjects']">View Subjects</a>
                </li>
                <li><a [routerLink]="['/teachersettings/addSubject']">Add New</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Sub-themes <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/teachersettings/viewSubThemes']">View Sub-themes</a></li>
                <li><a [routerLink]="['/teachersettings/addSubTheme']">Add New</a></li>
              </ul>
            </li>
            <li class=" down"><a class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Questions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/teachersettings/viewQuestions']">View Questions</a></li>
                <li><a [routerLink]="['/teachersettings/addQuestion']">Add New</a></li>
              </ul>
            </li>
            <li class=" down"><a class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Tests <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/teachersettings/viewTests']">View Tests</a></li>
                <li><a [routerLink]="['/teachersettings/createTest']">Create New</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li class=" dropdown"><a class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Signed in as <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Change Password</a></li>
                <li><a [routerLink]="['/teacherSettings/myProfile']">My Profile</a></li>
              </ul>
            </li>
            <li class=""><a (click)="logOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>