<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <!-- [ngModelOptions]="{standalone: true}" -->
      <form
        role="form"
        [formGroup]="loginForm"
        (ngSubmit)="signIn(username.value, userpassword.value)"
      >
        <fieldset>
          <h2>Please Sign In</h2>
          <hr class="colorgraph" />
          <div
            class="form-group"
            [ngClass]="{
              'has-error':
                !loginForm.controls['userName'].valid &&
                loginForm.controls['userName'].touched
            }"
          >
            <input
              type="text"
              name="username"
              #username
              id="username"
              class="form-control input-lg"
              placeholder="User name"
              [formControl]="loginForm.controls['userName']"
            />
            <div
              *ngIf="
                loginForm.controls['userName'].hasError('required') &&
                loginForm.controls['userName'].touched
              "
              class="alert alert-danger"
            >
              You must include user name.
            </div>
          </div>
          <div
            class="form-group"
            [ngClass]="{
              'has-error':
                !loginForm.controls['userPassword'].valid &&
                loginForm.controls['userPassword'].touched
            }"
          >
            <input
              type="password"
              #userpassword
              name="password"
              id="password"
              class="form-control input-lg"
              placeholder="Password"
              [formControl]="loginForm.controls['userPassword']"
            />
            <div
              *ngIf="
                loginForm.controls['userPassword'].hasError('required') &&
                loginForm.controls['userPassword'].touched
              "
              class="alert alert-danger"
            >
              You must include user password.
            </div>
          </div>
          <span class="button-checkbox">
            <!-- ng-class="checked? 'state-icon glyphicon glyphicon-check:glyphicon' : 'state-icon glyphicon-unchecked'-->

            <!--"checked? 'state-icon glyphicon glyphicon-check:glyphicon' : 'state-icon glyphicon-unchecked'-->
            <button
              type="button"
              class="btn"
              data-color="info"
              (click)="checked = !checked"
              class="btn-info active"
            >
              Remember Me
              <input
                type="checkbox"
                name="remember_me"
                id="remember_me"
                class="hidden state-icon glyphicon glyphicon-check:glyphicon"
                checked="checked"
                [(ngModel)]="checked"
                [formControl]="loginForm.controls['rememberMe']"
              />
            </button>
            <a
              [routerLink]="['/forgotPassword']"
              class="btn btn-link pull-right"
              >Forgot Password?</a
            >
          </span>
          <hr class="colorgraph" />
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <!-- <input type="submit" (click)="signIn(username.value,userpassword.value)"  > -->
              <!-- <input
                type="submit"
                id="submit"
                class="btn btn-lg btn-success btn-block"
                value="Login"
                [disabled]="!loginForm.valid"
                [formControl]="loginForm.controls['userPassword']"
			  /> -->
              <button
                type="submit"
                id="submit"
                class="btn btn-lg btn-success btn-block"
                value="Login"
                [disabled]="!loginForm.valid"
              >
                Login
              </button>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
              <a
                class="btn btn-lg btn-primary btn-block"
                [routerLink]="['/signUp']"
                >Register</a
              >
            </div>
            <div>
              <p *ngIf="!loginForm.valid" style="color: red;">
                שדות חובה, נא למלא
              </p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>