<div width="100px" height="100px" bacground-color="red">
  <router-outlet class="container"> </router-outlet>
</div>
<div width="100px" height="100px" bacground-color="red"></div>
<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field> -->
<app-waiting *ngIf="userService.showSpinner"></app-waiting>
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form> -->
<!-- <app-student-chart></app-student-chart> -->

